html,body{
	padding-top: 100px;
	height: 100%;
	width: 100%;	
}

img{
	vertical-align: middle; /*인라인 요소와 인라인 블록요소 수직 정렬 시 사용
								요소 자체만 정렬 , 내용에 영향을 미치지 않음	*/
	max-width: 100%;
	border: 0;
}


div{
	display: block;
}
/*
.container{
	width: 90%;
	height: 90%;
	margin: 10px auto;
	position: relative;

}
*/

.jw-info-box{
	border-top: 1px solid;
	padding: 0 15px;
	position: relative;
	z-index: 100;
	min-height: 800px;
	max-width: 1170px;
	
}
#leftFrame{
	float : left;
	display: inline;
	margin: 0 auto;
	margin-right: 20px;
}
#rigthFrame{
	display: inline-block;
	margin: 0 auto;
}

#titlePoster{
	position: relative;	

}

#watchListFrame{
	margin-bottom: 8px;
	display: flex; /*엘리먼트 크기 위치 쉽게 잡기*/
	justify-content: space-between; /*flex item의 정렬과 간격*/
	box-sizing: border-box; /*테두리 기준으로 박스크기 정함*/
}

#watchListButton{
	display: flex;
	justify-content: center;
}

#watchListSpan{

	display: flex;
	flex-flow: row nowrap;  /*특정 공간 안에 가로로 차례대로 나열*/
	flex-shrink: 0; /*사용 가능한 공간이 충분하지 않은 경우 flexbox 항목의 축소 정도를 정의*/
}

#likeButton{
	width:100%;
	height:100%;
	display: block;
	position: relative;
	outline: none;
	line-height: 1;
}

#likeButtonSpan{
	word-spacing: normal;
	text-indent: 0px;
	text-shadow: none;
	justify-content: center;
}

#ratingTypeAgeFrame{
	display: block;
}

#ratingTypeAgeBetween{
	margin-bottom: 6px;
}

#ratingFrame{
	width: 120px;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;	
}

#typeFrame{
	width: 120px;
	float: left;
}

#ageFrame{
	width: 120px;
	float: left;
	overflow: hidden;
}
/*------------------------------------------------------------------------------ */
.title-block .text-muted .title-block>h2{
	font-size: 20px;
	color:#b5b8ba;
	text-shadow: 0 1px 0 #000;
}

.detail-infos_subheading{
	font-weight: 700!important;
	text-transform : uppercase;
	margin-bottom: 5px;
	font-size: 16px;
}

.hidden-horizontal-scrollbar{
	overflow: hidden;
	display: flex;
	position: relative;
}

.title-credits{
	margin-bottom: 15px;
	padding-bottom: 5px;
}

.hidden-horizontal-scrollbar_items:first-child{
	padding-left: 5px;
}

.hidden-horizontal-scrollbar_items{
	overflow-x: auto;
	position: relative;
	flex-wrap: nowrap; /* flex-item 요소들이 강제로 한줄에 배치*/
	display: flex; /*수직으로 쌓이는 엘리먼트들 수평으로 쉽게 만들어줌*/
	scroll-behavior : smooth;
}

.title-credits_actor{
	display: inline-block;	
}

.title-credits_actor:first-child{
	margin-left: 0;
}

.title-credits-name{
	cusor:pointer;
}

.title-credits_actor-role{
	width:100px;
	white-space: : nowrap; /*스페이스와 탭, 줄바꿈, 자동줄바꿈을 어떻게 처리할지 정하는 속성*/
}

.title-redits_actor-role-name{
	overflow: hidden;
	text-overflow: ellipsis;
}

.horizontal-title-list{
	margin-top : 10px;
}

.horizontal-title-list_item{
	margin: 0 5px;
	position: relative;
	display: flex;
}

.title-poster{
	position: relative;
	display: flex;
	/*padding-top: 142%;*/
	overflow: hidden;
	margin-right: 3px;
}

.title-poster_image, title-poster_no-poster{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}

.img-fade-in-out{
	opacity: 0;
}

.img-fade-in-in{
	animation : fadein .4s;
	animation-timing-function : ease;
	animation-fill-mode : forwards;
}

.monetizations{
	
	
}

.monetizations_additional-filter-wrapper{
	
}

.price-comparison_additional-filter{
	padding: 4px 4px 0 8px;
	white-space: nowrap;
	overflow: hidden;
}

.price-comparison_additional-filter-heading{
	text-transform: uppercase;
	font-weight: 700;
	margin-right: 10px;
}

.filter-buttons{
	display: flex;
	white-space: nowrap;
	overflow: hidden;
	flex-wrap: wrap;
}

.btn-group, .btn-group-vertical{
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

.filter-buttons-section{
	display: flex;
	margin-left: 10px;
	position: relative;
}

.btn{
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	touch-action : manipulation;
	cursor: pointer;;
	border: 1px solid transparent;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857;
	border-radius: 4px;
	user-select : none;
}

.additional-filter_button-active{
	text-decoration: none; /*선으로 텍스트를 꾸밀 수 있게 해주는 속성*/
}

.additional-filter_button.btn{
	min-height: inherit!important;
	line-height: inherit!important;
}

.additional-filter_button{
	cursor: pointer;
	border:1px solid;
	border-radius: 4px;
	padding: 1px 4px;
	text-decoration: none;
}

.price-comparison_grid_row{
	border-bottom: 1px solid;
	padding: 10px 0 10px 28px;
	position: relative;
	padding-bottom: 7px;
	
}

.price-comparison_grid_row_holder{
	overflow-x: auto;
	overflow-y: hidden;
	position: relative;
	min-height: 72px; 
}

.price-comparison_grid_row_elemnet{
	display: inline-block;
	position: relative;
}

.price-comparison_grid_row_element_icon{
	margin-right: 8px;
	text-align: center;
}

.price-comparison_grid_row_price{
	margin-bottom: 0;
	text-align: center;
	text-decoration: none;
	font-size: 13px;
}

.price-comparison_grid_row_title{
	position: absolute;
	transform : rotate(-90deg);
	transform-origin: 0 0;
	-webkit-transform : rotate(-90deg);
	-webkit-transform-origin: 0 0;
	bottom:-20px;
	left:0;
	width: 89px;
	text-align: center;
	text-transform: uppercase;
	
}


.jw-provider-icon{
	border-radius: 20%;
	
}

.price-comparison_grid_row_icon{
	border-radius: 11px;
	width: 50px;
	height: 50px;
	margin-bottom: 3px;
}
